version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    ports:
      - "5433:5433"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    container_name: go-api
    depends_on:
      - db
    ports:
      - "8080:8080"
    env_file:
      - .env
    restart: always

volumes:
  pgdata:
